table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

th {
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-actions{
    width: 400px;
}

.button-spacing {
    margin-right: 8px;
}